.navbar{
    background-color: #A27E6F;
    color: black;
}

#logo{
    max-width:250px;
    padding:0px;
    
}

#navbar-collapse{
    color: black;
}

ul, li{
    color: black;
}

#ulFont{
    color:black;
}

.fluid-container{
    margin: 0 auto;
    width:70%;
}

body{
    background-color: ;
    color:black;
    background-color: #A27E6F;
}


.navbar-brand{
    padding: 5px;
}

.navbar-right{
    text-align:left;
}

.quotes{
    text-align:center;
    margin:0 auto;
    font-size: 20px;
}

#collapse2{
    text-align:center;
}

.panel-title{
    text-align:center;
    color:white;
}

.modal-body{
    text-align:center;
}

.panel{
    background-color: #A27E6F;
    border-color: #A27E6F;
}

#accordion{
    margin:0 auto;
    width: 70%;
}

.btn, .btn-info, .btn-lg{
    color:white;
    background-color:#564D4A;
}

#footer{
    width:100%;
}